<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= producto %></title>
    <link rel="stylesheet" href="/CSS/producto-banana.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <a href="/tiendas/<%= storeId %>">
                <button>Volver a la tienda</button>
            </a>
        </div>

        
        <div class="cont-img">
            <img class="product-img" src="<%= producto.image %>" alt="<%= producto.name %>" aria-hidden="true" data-displace-into-id="target-image-id" style="visibility: visible;">
            <h2><%= producto.name %></h2>
        </div> 
        <div class="cont-info">
            <section class="info">
                <table>
                    <caption><span>Información</span></caption>
                    <tbody>
                        <tr>
                            <th scope="row"><span>Precio</span></th>
                            <td itemprop="price"><span class="price"><span><%= producto.price %></span></td>
                        </tr>
                        <tr>
                            <th scope="row"><%= producto.unitDescription %></th>
                            <td><span><%= producto.price %></span></td>
                        </tr>
                        <tr>
                            <th scope="row"><span>Formato</span></th>
                            <td><%= producto.unit %></td>
                        </tr>
                    </tbody>
                </table>
            </section>
            <hr>
            <button>Agregar al carrito</button>
        </div>
    </div>
</body>
</html>