<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= storeId %></title>
    <link rel="stylesheet" href="/CSS/producto-banana.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <a href="/tiendas/<%= storeId %>">
                <button>Volver a la tienda</button>
            </a>
        </div>

        <% for(const detalle of detalles) { %>
        <div class="cont-img">
            <img class="product-img" src="<%= detalle.image %>" alt="<%= detalle.name %>" aria-hidden="true" data-displace-into-id="target-image-id" style="visibility: visible;">
            <h2><%= detalle.name %></h2>
        <div class="cont-info">
            <section class="info">
                <table>
                    <caption><span>Información</span></caption>
                    <tbody>
                        <tr>
                            <th scope="row"><span>Precio</span></th>
                            <td itemprop="price"><span class="price"><span><%= detalle.price %></span></td>
                        </tr>
                        <tr>
                            <th scope="row"><%= detalle.unitDescription %></th>
                            <td><span><%= detalle.price %></span></td>
                        </tr>
                        <tr>
                            <th scope="row"><span>Formato</span></th>
                            <td><%= detalle.unit %></td>
                        </tr>
                    </tbody>
                </table>
            </section>
            <hr>
            <a href="/carrito/agregar/<%= productId %>">
                <button>Agregar al carrito</button>
            </a>
            
        </div>
        <% } %>
    </div>

    <script src="../public/funcionalidad-btn-carrito.js"></script>
</body>
</html>